<div class="background vh-100">


<div class="container">
  <img class="logo" src="../../../../assets/Spice It Up.png"  alt=" Home-Spice it up ">
  <h1>Change Password</h1><hr><br>
  <form class="example-form" [formGroup]="changePasswordForm" (ngSubmit)="changed(changePasswordForm.value)">
    
      
      <input type="hidden" name="email" formControlName="email" >


    <mat-form-field class="example-full-width">
      <mat-label>New password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'"  name="password" formControlName="password" oncopy="return false" onpaste="return false" oncut="return false"/>
      <mat-icon
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </mat-icon>
      <mat-error *ngIf="changePasswordForm.hasError('minlength', 'password')">Password must be at least 6 characters</mat-error>
      <mat-error *ngIf="changePasswordForm.touched">password is required</mat-error>
    </mat-form-field>
   
   

    <mat-form-field class="example-full-width">
        <mat-label>Confirm password</mat-label>
        <input matInput [type]="hides ? 'password' : 'text'"  name="confirm_password" formControlName="confirm_password" onpaste="return false">
        <mat-icon
          mat-icon-button
          matSuffix
          (click)="hides = !hides"
          [attr.aria-label]="'hides password'"
          [attr.aria-pressed]="hides"
        >
          <mat-icon>{{ hides ? "visibility_off" : "visibility" }}</mat-icon>
    </mat-icon>
    <mat-error *ngIf="f['confirm_password'].errors && f['confirm_password'].errors['ConfirmedValidator']">Passwords must match</mat-error>
      </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="!changePasswordForm.valid" >Submit</button>

  </form>
</div>


</div>