.example-form {
  min-width: 150px;
  /* max-width: 500px; */
  width: 100%;
  /* align-items: center; */
}

.example-full-width {
  width: 100%;
 
}
a{
  text-decoration: none;
  
}

h1{
  color: #2D2424;
  background-color:#3F51B5;
  color: white;
}


a {
  color: white;
  font-family: Lato;
}

main {
  flex: 1;
}

mat-card {
  margin-bottom: 4px;
}

mat-toolbar {
  overflow: hidden;
    width: 100%;
    min-width: 475px;
    /* padding: 10px 20px 10px 10px; */
    font-size: 20px;
    position: relative;
    color: #FFF;
    z-index: 1;
}

mat-toolbar:after {
  color: white;
  box-shadow: 5px 10px #888888;
  content: " ";
  position: absolute;
  display: block;
  width: 25%;
  min-width: 200px;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  background: #333;
  transform-origin: bottom left;
  -ms-transform: skew(-30deg, 0deg);
  -webkit-transform: skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);
}

.loginSection {
  z-index: 3;
  position: relative;
  widows: 100%;
  float: inline-end;
  
}
.loginSection::after {
  z-index: 3;
  position: relative;
  widows: 100%;
  
}
a{
  text-decoration: none;
  font-family: 'muli';
}

.btn{
  font-size: 18px;

 }


 div button{
  background-color:#3F51B5 ;
  color: white;
  border-color: black;
  
}

button.colorchange[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
