<div>
  <app-header></app-header>
  <div class="row">
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10">
      <br />
      <div class="col-md-12">
        <h1>&nbsp; Change Password :</h1>
      </div>
      <form class="example-form col-md-12" [formGroup]="updatePassword">
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Password : </mat-label>
          <input matInput [type]="hide1 ? 'password' : 'text'" name="password" formControlName="password" />
          <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide1">
            <mat-icon>{{ hide1 ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>New Password :</mat-label>
          <input matInput [type]="hide2 ? 'password' : 'text'" name="newPassword" formControlName="newPassword"
            oncopy="return false" onpaste="return false" oncut="return false" />
          <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide2">
            <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Confirm Password :</mat-label>
          <input matInput [type]="hide3 ? 'password' : 'text'" name="confirmPassword" formControlName="confirm_password"
            onpaste="return false" />
          <button mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide3">
            <mat-icon>{{ hide3 ? "visibility_off" : "visibility" }}</mat-icon>
          </button> </mat-form-field><br />
        <span *ngIf="updatePassword.errors?.['passwordmatcherror']" class="alert alert-danger"
          style="color: red">password & confirmpassword does not match</span>
        <br /><br />
        <button mat-raised-button class="colorchange" color="primary" [disabled]="updatePassword.invalid"
          (click)="btnUpdate()">
          Update</button>&nbsp;
        <button mat-raised-button color="primary" routerLink="/userprofile" (click)="btnBack()">
          Back</button><br />
      </form>
    </div>
  </div>
</div>
<br /><br /><br />
<app-footer></app-footer>