<br />

<div class="col-md-2">
  <ul type="none">
    <a mat-list-item routerLink="/home">
      <li routerLinkActive="bg-primary" class="show">
        <span class="material-icons" style="color: rgb(0, 0, 0)">home</span>
        Home
      </li>
    </a>

    <a routerLink="/menu">
      <li routerLinkActive="bg-primary" class="show">
        <span class="material-icons" style="color: rgb(0, 0, 0)">
          restaurant
        </span>
        Menu
      </li>
    </a>

    <a href="" routerLink="/order">
      <li routerLinkActive="bg-primary" class="show">
        <span class="material-icons" style="color: rgb(0, 0, 0)">shopping_cart</span>
        Order
      </li>
    </a>

    <a href="" routerLink="/userprofile">
      <li routerLinkActive="bg-primary" class="show">
        <span class="material-icons" style="color: rgb(0, 0, 0)">person</span>
        <span mat-list-item>Profile</span>
      </li>
    </a>

    <a href="" routerLink="/about">
      <li routerLinkActive="bg-primary" class="show">
        <span class="material-icons" style="color: rgb(0, 0, 0)">info</span>
        <span mat-list-item>About Us</span>
      </li>
    </a>

    <a href="" (click)="onLogOut()">
      <li routerLinkActive="bg-primary" class="show">
        <span class="material-icons" style="color: rgb(0, 0, 0)">logout</span>
        Logout
      </li>
    </a>

    <a href="" routerLink="/orders" [hidden]="adminUser() && staffUser()">
      <li routerLinkActive="bg-primary">
        CurrentOrders
      </li>
    </a>

    <a href="" routerLink="/customerProfile" [hidden]="adminUser()">
      <li routerLinkActive="bg-primary">
        Customer
      </li>
    </a>

    <a routerLink="/staff" [hidden]="adminUser()">
      <li routerLinkActive="bg-primary">
        Staff
      </li>
    </a>

    <a routerLink="/adminMenu" [hidden]="adminUser()">
      <li routerLinkActive="bg-primary">
        AdminMenu
      </li>
    </a>

    <a routerLink="/staffMenu" [hidden]="staffUser()">
      <li routerLinkActive="bg-primary">
        StaffMenu
      </li>
    </a>

  </ul>

</div>