<div>
    <app-header></app-header>
    <div class="row">
        <div class="col-md-2">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-10">

            <div>

                <div class="container ">
                    <div class="container">
                        <div class="row g-5 align-items-center">
                            <div class="col-lg-6">
                                <div class="row g-3">
                                    <div class="col-6 text-start">
                                        <img class="img-fluid1 rounded w-100 wow zoomIn" data-wow-delay="0.1s"
                                            src="../../assets/about1.jpeg"
                                            style="visibility: visible; animation-delay: 0.1s; animation-name: zoomIn;">
                                    </div>
                                    <div class="col-6 text-start">
                                        <img class="img-fluid2 rounded w-75 wow zoomIn" data-wow-delay="0.3s"
                                            src="../../assets/abou6.webp"
                                            style="margin-top: 25%; visibility: visible; animation-delay: 0.3s; animation-name: zoomIn;">
                                    </div>
                                    <div class="col-6 text-end">
                                        <img class="img-fluid2 rounded w-75 wow zoomIn" data-wow-delay="0.5s"
                                            src="../../assets/about3.webp"
                                            style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">
                                    </div>
                                    <div class="col-6 text-end">
                                        <img class="img-fluid1 rounded w-100 wow zoomIn" data-wow-delay="0.7s"
                                            src="../../assets/about4.jpg"
                                            style="visibility: visible; animation-delay: 0.7s; animation-name: zoomIn;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h2 class="section-title ff-secondary text-start text-primary fw-normal">About Us</h2>
                                <h1 class="mb-4">Welcome to <i class="fa fa-utensils text-primary me-2"></i>Spice It Up
                                </h1>

                                <h3 class="mb-4">We are delighted to welcome you to our dine in restaurant “Spice It
                                    Up”. Where we not only treat you and your palate to delicious dishes, but offer
                                    exceptional service with a smile, freshness and reasonable prices.</h3>
                                <br>
                                <h2>Our Mission</h2>

                                <h3 class="mb-4"> Quality of food : How the restaurant describes the food they aim to
                                    create. <br>
                                    Quality of service : How the restaurant describes the service they are aiming to
                                    provide. <br>
                                    Quality of atmosphere : The intended atmosphere or ‘vibe’ of the restaurant.</h3>
                                <div class="row g-4 mb-4">
                                    <div class="col-sm-6">
                                        <div
                                            class="d-flex align-items-center border-start border-5 border-primary px-3">
                                            <h1 class="flex-shrink-0 display-5 text-primary mb-0"
                                                data-toggle="counter-up">5</h1>
                                            <div class="ps-4">
                                                <p class="mb-0">Years of</p>
                                                <h5 class="text-uppercase mb-0">Experience</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div
                                            class="d-flex align-items-center border-start border-5 border-primary px-3">
                                            <h1 class="flex-shrink-0 display-5 text-primary mb-0"
                                                data-toggle="counter-up">20</h1>
                                            <div class="ps-4">
                                                <p class="mb-0">Popular</p>
                                                <h5 class="text-uppercase mb-0">Master Chefs</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container-xxl pt-5 pb-3">
                                <div class="container">
                                    <div class="text-center wow fadeInUp" data-wow-delay="0.1s"
                                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">

                                        <h1 class="mb-5">Our Master Chefs</h1>
                                    </div>
                                    <div class="row g-4">
                                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s"
                                            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                                            <div class="team-item text-center rounded overflow-hidden">
                                                <div class="rounded-circle overflow-hidden m-4">
                                                    <img class="img-fluid" src="../../assets/chef1.webp" alt="">
                                                </div>
                                                <h2 class="mb-0">Paul Roger</h2>


                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s"
                                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                            <div class="team-item text-center rounded overflow-hidden">
                                                <div class="rounded-circle overflow-hidden m-4">
                                                    <img class="img-fluid" src="../../assets/best_chef1.jpg" alt="">
                                                </div>
                                                <h2 class="mb-0">Garima Arora</h2>


                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s"
                                            style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                            <div class="team-item text-center rounded overflow-hidden">
                                                <div class="rounded-circle overflow-hidden m-4">
                                                    <img class="img-fluid" src="../../assets/best_chef2.jpg" alt="">
                                                </div>
                                                <h2 class="mb-0">Jeremy White</h2>


                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s"
                                            style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                                            <div class="team-item text-center rounded overflow-hidden">
                                                <div class="rounded-circle overflow-hidden m-4">
                                                    <img class="img-fluid" src="../../assets/Chef2.avif" alt="">
                                                </div>
                                                <h2 class="mb-0">Lora kaisun</h2>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<div>
<div class="address">
    <h2>Address:  <h3>jsdhbjhsbxjhbds,dsfdsxc ,dscssdc,dcs</h3> </h2>
    <h2>Phone: <h3>41454325623</h3></h2>
    
    <h2>Email: <h3>jsdhbjhsbxjhbds</h3></h2>
    
</div>
<div class="googlemap">
    <app-map></app-map>
</div>
</div>


        