<div class="background vh-100">
<div class="container">
  <img class="logo" src="../../../../assets/Spice It Up.png"  alt=" Home-Spice it up ">
    <h1>Forgot Password</h1><hr><br>
    <p>Enter your email and we'll send you a otp to reset your password</p>
    <form class="example-form" [formGroup]="forgotForm" (ngSubmit)="forgoted(forgotForm.value)">
      <mat-form-field class="example-full-width">
        
        <mat-label>Email</mat-label>
        <input  matInput value="" type="email" name="email" formControlName="email">
        <mat-error  *ngIf="forgotForm.hasError('pattern', 'email')">Email is invalid!!</mat-error>
      </mat-form-field>

      <section>
        <div class="example-button-row">
          <button mat-raised-button color="primary" [disabled]="!forgotForm.valid">Submit</button>
        </div>
      </section>
    </form>
  </div>

</div>