<!-- Footer -->
<!-- <hr/>
<div class="footer" >
    <footer>
        <div class="footer  col-md-12">  
            <h3 class="text-center zoom float-start" >Copyright @ 2023 spiceitup Group, All rights reserved</h3>
            <mat-icon>laptop</mat-icon>
            <mat-icon>smartphone</mat-icon>
            <mat-icon>tv</mat-icon>


        </div>
 </footer>
</div> -->


<mat-toolbar class="mat-elevation-z5 row fixed" color="primary">
	<a>Copyright @ 2023 spiceitup Group, All rights reserved </a>  
     
</mat-toolbar>